<!--p>Hour:  {{thisHour}}</p>
<p>Mins:  {{thisMin}}</p>
<p>Seconds:  {{thisSeconds}}</p-->

<div class="clock-container clock2">
    <div class="time">{{clockData}}</div>
</div>
<div>
<form>
    <div class="form-group">
      <label for="exampleFormControlFile1">Hour:     </label>
      <input  class="form-control-file" #field1>
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Mins:</label>
        <input  class="form-control-file" #field2>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Seconds:</label>
        <input  class="form-control-file" #field3>
      </div>
  </form>
</div>

  <button mat-button class="mat-button mat-primary" 
            (click)="updateTime()" >
            Reset
  </button>
