<div class="row">
    <div class="column" style="background-color:#aaa;">
        <div class="clock">
            <div class="analog-clock">
              <div class="hour hand" [ngStyle]="hourHandStyle"></div>
              <div class="minute hand" [ngStyle]="minuteHandStyle"></div>
              <div class="second hand" [ngStyle]="secondHandStyle"></div>
              <div class="center-circle"></div>
            </div>
            <div class="digital-clock">{{format(thisHour)}}:{{format(thisMin)}}:{{format(thisSeconds)}}</div>
        </div>
    </div>
    <div class="column" style="background-color:#bbb;">
        <form>
            <div class="form-group">
              <label for="exampleFormControlFile1">Hour:   </label>
              <input  class="form-control-file" #field1>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Mins:   </label>
                <input  class="form-control-file" #field2>
              </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">Seconds:</label>
                <input  class="form-control-file" #field3>
              </div>
          </form>
          <button mat-button class="mat-button mat-primary" 
          (click)="updateTime()" >
          Reset</button>
    </div>
  </div>

